@import url('https://fonts.googleapis.com/css2?family=Onest&family=PT+Sans&family=Poppins&family=Roboto+Mono:wght@300&family=Source+Code+Pro:wght@300;400&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Source+Code+Pro:wght@300;400&family=Young+Serif&display=swap');
*{
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}


body{
    
}
header{
    background-color: rgba(16, 16, 16, 0.716);
    width: 100%;
    height: 65px;
    padding: 0 2.5vw;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    position: fixed;
}

.nav-bar{
    background-color: rgba(16, 16, 16, 0.716);
        display: flex;
        gap: 4vw;
        padding-right: 10vw;
}
.nav-bar i{
    font-size: 5vw;
    flex-wrap: 700;
   display: none;
}
.nav-bar a{
    background-color: rgba(16, 16, 16, 0.716);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    
}

#name-top{
    font-family: 'Source Code Pro', monospace;
    background-color: rgba(16, 16, 16, 0.716);
    font-size: 2.5vw;
    color: rgb(240, 97, 25);
    width: 100%;
    

}
.greet-box h4{
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 2rem;
}




.nav-bar a:hover{
    color: rgb(220, 14, 14);  
}
/* for responsiveness.. */




/* body main part */
.section1-frontpage{
    height: calc(100vh - 40px);
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
}
.small-inf-container{
    background-color: #000000;
    padding: 10vh 10vw;
    padding-left: 41px;
    margin-top: vh;
    margin: 10vh 6vw;
    
    display: flex;
    flex-direction: column;


}
/* sociaL MEDIA CONTAINER */
.social-media-container{
    display: flex;
    justify-content: space-between;
    margin: 18px 9px;
    padding-top: 14px;
}
.social-media-container img{
    width: 34px;
    justify-content: space-between;
    gap: 20px;

    
}
.social-media-container img:hover{
    transform: scale(1.2);
}
.greet-box{
    /* width: fit-content;
    height: fit-content; */

}

.greet-box h6{
    padding-top: 20px;
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 1.5rem;
}
.photo img{
    width: 25vw;
    margin: 10vh;
    margin-right: 10vw;
}
.photo{
    padding-top: 45px;
    
}
@media (max-width:600px) {
    *{
        /* margin: 0; */
        
    }
    
    header{
        height: 62px;
        width: 95%;
        
    }
    .nav-bar a{
        font-size:2.5vw ;
        display: none;
    }
    #name-top{
        font-size: 4vw;
    }
    .nav-bar i{
        display: block;
        color: white;
    }
    
    .section1-frontpage{
        /* background-color: bisque; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .small-inf-container{
        /* background-color: #4b4b4b; */
        width: 80%;
        height: 10vh;
        padding: 7vh 4vw;
        
    }

    .greet-box h4{
        
        font-size: 4vw;
    }
    .greet-box h6{
        
        font-size: 4vw;
    }
    .photo img{
        width: 35vw;
        margin: 56px 8vw;
    }


    
    
    
}



